Repository beyond-sw-camp/be02-fin-BuildUp-KMS, pull requests merged in 2024-04, with the labels that each got.

#573 [Test] Quill Editor 도입 후 CI/CD 테스트
  frontend/src/stores/useBoardCommentStore.js
Labels: 🎨frontend🎨

#574 [Test] Quill Editor 도입 후 CI/CD 테스트
  backend/backend-deployment.yml
  backend/src/main/java/com/example/bootshelf/es/controller/EsBoardController.java
  backend/src/main/java/com/example/bootshelf/es/model/EsBoard.java
  backend/src/main/java/com/example/bootshelf/es/repository/EsBoardRepository.java
  backend/src/main/java/com/example/bootshelf/es/repository/EsOperation.java
  backend/src/main/java/com/example/bootshelf/es/service/EsBoardService.java
  backend/src/main/java/com/example/bootshelf/reviewsvc/review/repository/querydsl/ReviewRepositoryCustomImpl.java
  backend/src/main/resources/application.yml
Labels: 🧑‍💻backend🧑‍💻

#575 [Test] Quill Editor 도입 후 CI/CD 테스트
  backend/src/main/java/com/example/bootshelf/boardsvc/board/service/BoardService.java
Labels: 🧑‍💻backend🧑‍💻

#576 [Test] Quill Editor 도입 후 CI/CD 테스트
  backend/backend-deployment.yml
  backend/src/main/resources/application.yml
Labels: 🧑‍💻backend🧑‍💻

#600 [Chore] Quill Editor 구현으로 게시글 이미지 조회 로직 수정
  backend/src/main/java/com/example/bootshelf/boardsvc/board/model/response/GetListImageBoardRes.java
  backend/src/main/java/com/example/bootshelf/boardsvc/board/model/response/GetReadBoardRes.java
  backend/src/main/java/com/example/bootshelf/boardsvc/board/service/BoardService.java
  backend/src/main/java/com/example/bootshelf/reviewsvc/review/service/ReviewService.java
Labels: 🧑‍💻backend🧑‍💻

#601 [Chore] Quill Editor 도입으로 인한 코드 수정
  frontend/src/components/HeaderComponent.vue
  frontend/src/stores/useAdminStore.js
  frontend/src/stores/useCategoryStore.js
  frontend/src/stores/useReviewCommentStore.js
  frontend/src/stores/useTagStore.js
Labels: 🎨frontend🎨

#612 [Test] Refresh Token CI/CD Test
  frontend/src/components/HeaderComponent.vue
Labels: 🎨frontend🎨

#613 [Test] Refresh Token CI/CD Test
  backend/src/main/java/com/example/bootshelf/config/RedisConfig.java
  backend/src/main/java/com/example/bootshelf/config/es/ElasticSearchConfig.java
  backend/src/main/java/com/example/bootshelf/esboard/controller/EsBoardController.java
  backend/src/main/java/com/example/bootshelf/esboard/model/entity/EsBoard.java
  backend/src/main/java/com/example/bootshelf/esboard/model/response/BoardSearchRes.java
  backend/src/main/java/com/example/bootshelf/esboard/model/response/BoardSearchResResult.java
  backend/src/main/java/com/example/bootshelf/esboard/repository/EsBoardRepository.java
  backend/src/main/java/com/example/bootshelf/esboard/repository/EsOperation.java
  backend/src/main/java/com/example/bootshelf/esboard/service/EsBoardService.java
  backend/src/main/java/com/example/bootshelf/esreview/controller/EsReviewController.java
  backend/src/main/java/com/example/bootshelf/esreview/model/entity/EsReview.java
  backend/src/main/java/com/example/bootshelf/esreview/model/response/ReviewSearchRes.java
  backend/src/main/java/com/example/bootshelf/esreview/repository/EsReviewRepository.java
  backend/src/main/java/com/example/bootshelf/esreview/service/EsReviewService.java
  backend/src/main/resources/application.yml
Labels: 🧑‍💻backend🧑‍💻

#614 [Chore] Refresh Token 구현으로 인한 test 코드 수정
  backend/src/test/java/com/example/bootshelf/admin/controller/AdminControllerTest.java
  backend/src/test/java/com/example/bootshelf/boardsvc/board/controller/BoardControllerTest.java
  backend/src/test/java/com/example/bootshelf/boardsvc/boardcomment/controller/BoardCommentControllerTest.java
  backend/src/test/java/com/example/bootshelf/reviewscrap/controller/ReviewScrapControllerTest.java
  backend/src/test/java/com/example/bootshelf/reviewsvc/review/controller/ReviewControllerTest.java
  backend/src/test/java/com/example/bootshelf/user/controller/UserControllerTest.java
Labels: 🧑‍💻backend🧑‍💻

#624 [Test] MSA 전환 ( Gateway 서버 배포 테스트 ) (#589)
  backend/gateway/gateway-deployment.yml
Labels: gateway

#626 [Test] MSA 전환 ( Main 서버 배포 테스트 ) (#589)
  backend/main-service/main-deployment.yml
  backend/main-service/src/main/resources/application-dev.yml
  backend/main-service/src/main/resources/application-prod.yml
Labels: main

#627 [Test] MSA 전환 ( 서버 배포 테스트 ) (#589)
  cicd/k8s/monolithic/backend/backend-deployment.yml
  cicd/k8s/monolithic/backend/backend-hpa.yml
  cicd/k8s/monolithic/backend/backend-svc.yml
  cicd/k8s/monolithic/db/db-config.yml
  cicd/k8s/monolithic/db/db-deployment.yml
  cicd/k8s/monolithic/db/db-pv.yml
  cicd/k8s/monolithic/db/db-pvc.yml
  cicd/k8s/monolithic/db/db-svc.yml
  cicd/k8s/monolithic/frontend/frontend-deployment.yml
  cicd/k8s/monolithic/frontend/frontend-hpa.yml
  cicd/k8s/monolithic/frontend/frontend-svc.yml
  cicd/k8s/msa/backend/gateway/gateway-deployment.yml
  cicd/k8s/msa/backend/gateway/gateway-svc.yml
  cicd/k8s/msa/backend/main/main-deployment.yml
  cicd/k8s/msa/backend/main/main-svc.yml
  frontend/frontend-deployment.yml
  frontend/nginx/default.conf
  frontend/src/components/CategoryBoardComponent.vue
  frontend/src/pages/KnowledgeBoardListPage.vue
  frontend/src/stores/useBoardStore.js
Labels: 🎨frontend🎨

#629 [Test] MSA 전환 ( Refreh 토큰, Redis ) (#589)
  backend/main-service/src/main/java/com/example/bootshelf/config/RedisConfig.java
  backend/main-service/src/main/java/com/example/bootshelf/config/WebConfig.java
  backend/main-service/src/main/java/com/example/bootshelf/config/filter/JwtFilter.java
  backend/main-service/src/main/java/com/example/bootshelf/config/utils/JwtUtils.java
  backend/main-service/src/main/java/com/example/bootshelf/config/utils/RedisUtils.java
  backend/main-service/src/main/java/com/example/bootshelf/user/controller/UserController.java
  backend/main-service/src/main/java/com/example/bootshelf/user/repository/UserRefreshTokenRepository.java
  backend/main-service/src/main/java/com/example/bootshelf/user/service/EmailVerifyService.java
  backend/main-service/src/main/java/com/example/bootshelf/user/service/RefreshTokenService.java
  backend/main-service/src/main/java/com/example/bootshelf/user/service/UserService.java
  backend/main-service/src/main/resources/application-dev.yml
  backend/main-service/src/main/resources/application-prod.yml
  backend/review-search-service/src/main/resources/application-dev.yml
  backend/review-search-service/src/main/resources/application-prod.yml
Labels: main

#632 [Test] MSA 전환 ( Refresh 토큰, Redis ) (#589)
  backend/main-service/src/main/java/com/example/bootshelf/user/service/SendEmailService.java
  backend/main-service/src/main/java/com/example/bootshelf/user/service/UserService.java
Labels: main

#634 [Test] MSA 전환 ( 서버 배포 테스트 ) (#589)
  cicd/k8s/msa/backend/main/main-hpa.yml
  frontend/src/components/AdminMenuComponent.vue
  frontend/src/components/HeaderComponent.vue
  frontend/src/pages/BoardUpdatePage.vue
  frontend/src/pages/BoardWritePage.vue
  frontend/src/pages/ReviewDetailsPage.vue
  frontend/src/pages/ReviewUpdatePage.vue
  frontend/src/pages/ReviewWritePage.vue
  frontend/src/stores/useBoardCommentStore.js
  frontend/src/stores/useBoardStore.js
  frontend/src/stores/useReviewCommentStore.js
  frontend/src/stores/useReviewStore.js
  frontend/src/stores/useTotalStore.js
  frontend/src/stores/useUserStore.js
Labels: 🎨frontend🎨

#635 [Test] MSA 전환 ( 서버 배포 테스트 ) (#589)
  frontend/src/pages/SearchResultPage.vue
  frontend/src/stores/useBoardStore.js
  frontend/src/stores/useReviewStore.js
  frontend/src/stores/useTotalStore.js
Labels: 🎨frontend🎨

#637 [Test] MSA 전환 ( Review Search Service ) 후 배포 테스트 (#589)
  backend/main-service/main-deployment.yml
  backend/review-search-service/review-deployment.yml
  backend/review-search-service/src/main/java/com/example/bootshelf/adapter/output/es/EsReviewAdapter.java
  backend/review-search-service/src/main/java/com/example/bootshelf/adapter/output/es/entity/EsReview.java
  backend/review-search-service/src/main/java/com/example/bootshelf/application/service/SearchReviewService.java
  backend/review-search-service/src/main/java/com/example/bootshelf/domain/Review.java
  backend/review-search-service/src/main/java/com/example/bootshelf/domain/ReviewResult.java
Labels: review

#638 [Test] MSA 전환 ( Review Search Service ) 후 배포 테스트 (#589)
  backend/review-search-service/review-deployment.yml
Labels: review

#639 [Feat] 게시글 검색 MSA 전환 (#587)
  backend/board-search-service/Dockerfile
  backend/board-search-service/board-deployment.yml
Labels: board

#640 [Feat] 게시글 검색 MSA 전환 (#587)
  backend/board-search-service/Dockerfile
Labels: board

#641 [Test] MSA 전환 ( 서버 배포 테스트 ) (#589)
  cicd/k8s/msa/backend/review/review-config.yml
  cicd/k8s/msa/backend/review/review-svc.yml
  frontend/src/pages/SearchResultPage.vue
Labels: 🎨frontend🎨

#643 [Test] MSA 전환 ( 서버 배포 테스트 ) (#589)
  frontend/src/pages/SearchResultPage.vue
  frontend/src/stores/useReviewStore.js
Labels: 🎨frontend🎨

#644 [Test] MSA 전환 ( 서버 배포 테스트 ) (#589)
  frontend/src/stores/useReviewStore.js
Labels: 🎨frontend🎨

#645 [Feat] 게시글 검색 MSA 전환 (#587)
  backend/board-search-service/src/main/java/com/example/bootshelf/adapter/output/es/entity/EsBoard.java
  backend/board-search-service/src/main/java/com/example/bootshelf/application/service/SearchBoardService.java
  backend/board-search-service/src/main/java/com/example/bootshelf/domain/Board.java
Labels: board

#646 [Test] MSA 전환 ( 서버 배포 테스트 ) (#589)
  frontend/src/components/CategoryBoardComponent.vue
  frontend/src/components/TagComponent.vue
  frontend/src/pages/SearchResultPage.vue
  frontend/src/stores/useReviewStore.js
Labels: 🎨frontend🎨

#647 [Test] MSA 전환 ( Review Search Service ) 후 배포 테스트 (#589)
  backend/main-service/pom.xml
  backend/main-service/src/main/java/com/example/bootshelf/MainServiceApplication.java
  backend/main-service/src/main/java/com/example/bootshelf/boardsvc/board/model/response/GetSearchListBoardRes.java
  backend/main-service/src/main/java/com/example/bootshelf/boardsvc/board/model/response/GetSearchListBoardResResult.java
  backend/main-service/src/main/java/com/example/bootshelf/boardsvc/board/model/response/GetTagNameRes.java
  backend/main-service/src/main/java/com/example/bootshelf/boardsvc/board/service/BoardService.java
  backend/review-search-service/src/main/java/com/example/bootshelf/adapter/input/web/SearchSortReviewController.java
  backend/review-search-service/src/main/java/com/example/bootshelf/adapter/output/es/EsReviewAdapter.java
  backend/review-search-service/src/main/java/com/example/bootshelf/application/port/input/SearchSortReviewUseCase.java
  backend/review-search-service/src/main/java/com/example/bootshelf/application/port/output/GetSortListReviewPort.java
  backend/review-search-service/src/main/java/com/example/bootshelf/application/service/SearchReviewService.java
Labels: main

#648 [Test] MSA 전환 ( 서버 배포 테스트 ) (#589)
  frontend/src/stores/useReviewStore.js
Labels: 🎨frontend🎨

#651 [Test] MSA 전환 ( Review Search Service ) 후 배포 테스트 (#589)
  backend/review-search-service/src/main/java/com/example/bootshelf/adapter/input/web/SearchSortReviewController.java
Labels: review

#652 [Test] MSA 전환 ( 서버 배포 테스트 ) (#589)
  frontend/src/components/TagComponent.vue
  frontend/src/pages/SearchResultPage.vue
Labels: 🎨frontend🎨

#675 [Test] Frontend CI/CD Test 실행 (#589)
  frontend/src/components/HeaderComponent.vue
Labels: 🎨frontend🎨

#674 [Test] MSA Backend CI/CD TEST (#589)
  backend/main-service/src/main/java/com/example/bootshelf/config/naver/NaverOcrApi.java
  backend/review-search-service/src/main/java/com/example/bootshelf/adapter/input/web/SearchReviewController.java
Labels: main

#696 [Chore] 게이트웨이 서버 CORS 중복 오류 해결 (#589)
  backend/gateway/src/main/resources/application-dev.yml
  backend/gateway/src/main/resources/application-prod.yml
  backend/main-service/main-deployment.yml
Labels: gateway

#697 [Test] 프론트엔드 배포 CI/CD 테스트 (#589)
  frontend/src/components/HeaderComponent.vue
  frontend/src/pages/BoardUpdatePage.vue
  frontend/src/pages/BoardWritePage.vue
  frontend/src/pages/ReviewUpdatePage.vue
  frontend/src/pages/ReviewWritePage.vue
  frontend/src/pages/SearchResultPage.vue
  frontend/src/stores/useAdminStore.js
  frontend/src/stores/useBoardCommentStore.js
  frontend/src/stores/useBoardStore.js
  frontend/src/stores/useBoardTagStore.js
  frontend/src/stores/useCategoryStore.js
  frontend/src/stores/useReviewCommentStore.js
  frontend/src/stores/useReviewStore.js
  frontend/src/stores/useTagStore.js
  frontend/src/stores/useTotalStore.js
  frontend/src/stores/useUserStore.js
  frontend/test-results/report.xml
Labels: 🎨frontend🎨

#698 [Test] 메인 서비스 CI/CD 배포 테스트 (#589)
  backend/main-service/src/test/java/com/example/bootshelf/user/controller/UserControllerTest.java
Labels: main

#699 [Test] 프론트엔드 테스트를 위한 통합테스트 코드 주석 처리 (#589)
  frontend/tests/integration/loginSuccess.spec.js
  frontend/tests/integration/signupEmailFailed.spec.js
  frontend/tests/integration/signupNickNameFailed.spec.js
  frontend/tests/integration/signupSuccess.spec.js
Labels: 🎨frontend🎨

#703 [Chore] jenkins trigger 위한 배포
  frontend/src/stores/useBoardTagStore.js
Labels: 🎨frontend🎨, 🧑‍💻backend🧑‍💻

#704 [Chore] 통합테스트 삭제
  frontend/tests/integration/signupFailed.spec.js
  frontend/tests/integration/signupSuccess.spec.js
Labels: 🎨frontend🎨, 🧑‍💻backend🧑‍💻

#705 [Chore] userstore backend url 변경
  frontend/src/stores/useUserStore.js
Labels: 🎨frontend🎨, 🧑‍💻backend🧑‍💻

#706 [Chore] backend-deployment.yml readiness, liveness prove path 수정
  backend/backend-deployment.yml
Labels: 🎨frontend🎨, 🧑‍💻backend🧑‍💻

#710 [Test] MSA 게이트웨이 서버 CI/CD 테스트 (#589)
  backend/main-service/src/test/java/com/example/bootshelf/admin/controller/AdminControllerTest.java
Labels: gateway

#711 [Test] MSA 메인 서버 배포 테스트 (#589)
  backend/main-service/src/test/java/com/example/bootshelf/admin/controller/AdminControllerTest.java
Labels: main

#712 [Test] MSA 프론트엔드 CI/CD 배포 테스트 (#589)
  frontend/src/components/CategoryBoardComponent.vue
  frontend/src/components/ConfirmDialogComponent.vue
  frontend/src/components/FooterComponent.vue
  frontend/src/components/HeaderComponent.vue
  frontend/src/components/HotBoardComponent.vue
  frontend/src/components/MyPageBoardComponent.vue
  frontend/src/components/ReviewBoardComponent.vue
  frontend/src/components/StudyBoardComponent.vue
  frontend/src/pages/BoardDetailsPage.vue
  frontend/src/pages/MyPage.vue
  frontend/src/pages/ReviewDetailsPage.vue
  frontend/src/pages/SearchResultPage.vue
  frontend/src/pages/StudyDetailsPage.vue
Labels: 🎨frontend🎨

#713 [Test] MSA 프론트엔드 CI/CD 배포 테스트 (#589)
  frontend/src/components/HeaderComponent.vue
Labels: 🎨frontend🎨

#714 [Test] MSA 프론트엔드 CI/CD 배포 테스트 (#589)
  frontend/tests/integration/loginSuccess.spec.js
  frontend/tests/integration/signupEmailFailed.spec.js
  frontend/tests/integration/signupNickNameFailed.spec.js
  frontend/tests/integration/signupSuccess.spec.js
Labels: 🎨frontend🎨

#715 [Test] MSA 후기글 검색 서버 배포 테스트 (#589)
  backend/main-service/src/test/java/com/example/bootshelf/user/controller/UserControllerTest.java
Labels: review

#716 [Test] EC2 버전 프론트엔드 CICD 테스트
  cicd/k8s/backend/backend-deployment.yml
  frontend/src/components/HeaderComponent.vue
Labels: 🎨frontend🎨

#718 [Test] EC2 버전 프론트엔드 CICD 테스트
  frontend/src/pages/BoardUpdatePage.vue
  frontend/src/pages/BoardWritePage.vue
  frontend/src/pages/ReviewUpdatePage.vue
  frontend/src/pages/ReviewWritePage.vue
  frontend/src/stores/useAdminStore.js
  frontend/src/stores/useBoardCommentStore.js
  frontend/src/stores/useBoardStore.js
  frontend/src/stores/useBoardTagStore.js
  frontend/src/stores/useCategoryStore.js
  frontend/src/stores/useReviewCommentStore.js
  frontend/src/stores/useReviewStore.js
  frontend/src/stores/useTagStore.js
  frontend/src/stores/useTotalStore.js
  frontend/src/stores/useUserStore.js
Labels: 🎨frontend🎨

#725 [Design] MSA 프론트엔드 디자인 일부 수정
  frontend/src/components/BoardCommentComponent.vue
  frontend/src/components/ReviewCommentComponent.vue
  frontend/src/pages/BoardWritePage.vue
  frontend/src/pages/MyPage.vue
  frontend/src/pages/ReviewUpdatePage.vue
  frontend/src/pages/ReviewWritePage.vue
  frontend/src/stores/useBoardStore.js
Labels: frontend-msa

#726 [Test] MSA 게시글 검색 서버 배포 테스트 (#589)
  backend/main-service/src/test/java/com/example/bootshelf/user/controller/UserControllerTest.java
Labels: board

#732 [Chore] backend url 변경
  frontend/src/stores/useAdminStore.js
  frontend/src/stores/useBoardCommentStore.js
  frontend/src/stores/useBoardStore.js
  frontend/src/stores/useBoardTagStore.js
  frontend/src/stores/useCategoryStore.js
  frontend/src/stores/useReviewCommentStore.js
  frontend/src/stores/useReviewStore.js
  frontend/src/stores/useTagStore.js
  frontend/src/stores/useTotalStore.js
  frontend/src/stores/useUserStore.js
Labels: gateway, main, review, board, frontend-msa

#734 [Test] MSA 프론트엔드 CI/CD 테스트 (#589)
  frontend/tests/integration/loginEmailFailed.spec.js
  frontend/tests/integration/loginPasswordFailed.spec.js
  frontend/tests/integration/loginSuccess.spec.js
  frontend/tests/integration/signupEmailFailed.spec.js
  frontend/tests/integration/signupNickNameFailed.spec.js
Labels: frontend-msa

#735 [Chore] spec.js 테스트 에러 수정
  frontend/jest.config.js
  frontend/src/stores/useAdminStore.js
  frontend/src/stores/useBoardCommentStore.js
  frontend/src/stores/useBoardStore.js
  frontend/src/stores/useBoardTagStore.js
  frontend/src/stores/useCategoryStore.js
  frontend/src/stores/useReviewCommentStore.js
  frontend/src/stores/useReviewStore.js
  frontend/src/stores/useTagStore.js
  frontend/src/stores/useTotalStore.js
  frontend/src/stores/useUserStore.js
  frontend/test-results/report.xml
  frontend/tests/integration/loginEmailFailed.spec.js
  frontend/tests/integration/loginPasswordFailed.spec.js
  frontend/tests/integration/loginSuccess.spec.js
  frontend/tests/integration/signupEmailFailed.spec.js
  frontend/tests/integration/signupNickNameFailed.spec.js
Labels: frontend-msa

#736 [Chore] spec.js 프론트엔드 테스트 코드 에러 수정 진행중
  frontend/tests/integration/loginEmailFailed.spec.js
  frontend/tests/integration/loginPasswordFailed.spec.js
  frontend/tests/integration/loginSuccess.spec.js
  frontend/tests/integration/signupEmailFailed.spec.js
  frontend/tests/integration/signupNickNameFailed.spec.js
Labels: frontend-msa

#737 [Chore] spec.js 테스트 코드 빌드 에러 해결 진행중 2
  frontend/package.json
  frontend/src/stores/useAdminStore.js
  frontend/src/stores/useBoardCommentStore.js
  frontend/src/stores/useBoardStore.js
  frontend/src/stores/useBoardTagStore.js
  frontend/src/stores/useCategoryStore.js
  frontend/src/stores/useReviewCommentStore.js
  frontend/src/stores/useReviewStore.js
  frontend/src/stores/useTagStore.js
  frontend/src/stores/useTotalStore.js
  frontend/src/stores/useUserStore.js
  frontend/tests/integration/loginEmailFailed.spec.js
  frontend/tests/integration/loginPasswordFailed.spec.js
  frontend/tests/integration/loginSuccess.spec.js
  frontend/tests/integration/signupEmailFailed.spec.js
  frontend/tests/integration/signupNickNameFailed.spec.js
Labels: frontend-msa

#742 [Chore] npm run test:unit 임시 삭제
  frontend/package.json
Labels: frontend-msa
